{% extends "wagtailadmin/base.html" %}

{% block content %}
    <div class="nice-padding">
        <h1>Processar Arquivo XML</h1>
        <p>Envie um arquivo XML para validar seu conteúdo. Após o envio, serão gerados automaticamente os arquivos HTML e PDF correspondentes.</p>
        <form action="{% url 'process_xml' %}" method="post" enctype="multipart/form-data" class="form">
            {% csrf_token %}
            <div class="field">
                <label for="id_xml_file">Arquivo XML</label>
                <input type="file" name="xml_file" id="id_xml_file" accept=".xml" required>
            </div>
            <button type="submit" class="button button-longrunning">Enviar</button>
        </form>
    </div>
{% endblock %}