{% extends "wagtailadmin/generic/index.html" %}

{% block content %}
  <div class="nice-padding">
    <h1>XML Documents</h1>
    <table class="listing">
      <thead>
        <tr>
          <th>Arquivo XML</th>
          <th>Validation</th>
          <th>Exceptions</th>
          <th>PDF</th>
          <th>HTML</th>
          <th>Enviado em</th>
        </tr>
      </thead>
      <tbody>
        {% for obj in xmldocument.object_list %}
        <tr>
          <td>{{ obj.xml_file.name }}</td>
          <td>
            {% if obj.validation_file %}
              <a href="{{ obj.validation_file.url }}">Download</a>
            {% endif %}
          </td>
          <td>
            {% if obj.exceptions_file %}
              <a href="{{ obj.exceptions_file.url }}">Download</a>
            {% endif %}
          </td>
          <td>
            {% if obj.pdf_file %}
              <a href="{{ obj.pdf_file.url }}">Download</a>
            {% endif %}
          </td>
          <td>
            {% if obj.html_file %}
              <a href="{{ obj.html_file.url }}">Download</a>
            {% endif %}
          </td>
          <td>{{ obj.uploaded_at }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}